RABBITMQ_URL=amqp://localhost:5672
ORDER_RESERVED_QUEUE_NAME=order.reserved
ORDER_SUBMITTED_QUEUE_NAME=order.submitted
ORDER_FAILED_QUEUE_NAME=order.failed
ORDER_TIMEOUT_DELAY_QUEUE_NAME=order.timeout.delay
ORDER_TIMEOUT_TTL_MS=900000
ORDER_QUEUE_PREFETCH=10
