DATABASE_URL=postgresql://postgres@localhost:5434/exam-flash-sales-system
CACHE_URL=redis://localhost:6379
HOST=0.0.0.0
PORT=8000
PINO_LOG_LEVEL=error
JWT_ACCESS_SECRET=secret
RABBITMQ_URL=amqp://localhost:5672
COOKIE_SECRET=secret